*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    padding: 1rem 2rem;
    background-color: #333;
    color: aliceblue;
    border-radius: 1.5rem;
}
button{
    padding: 1rem 2rem;
    font-size: 1.4rem;
    border-radius: 1.5rem;
    cursor: pointer;
    margin-top: 1rem;
    border: none;
    outline: none;
    transition: background 0.4s;
    margin-left: 10rem;
}
button:hover{
    background: rgb(199, 177, 177);
}